<div class="wrapper">
    <div class="side-buttons">
        <ul>
            <li [class.active]="currentCategory === category" *ngFor="let category of categories" (click)="changeCategory(category)">
                {{category}}
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="title">{{currentCategory}}</div>

        <div class="recent" *ngIf="currentCategory === categories[2]">
            <ul>
                <li *ngFor="let file of fileService.getRecentFiles()" (click)="fileService.setCurrentFile(file)">
                    <div class="file-info">
                        <div class="file-name">{{file.name}}</div>
                        <div class="file-subject" [style.color]="fileService.getSubjectOfFile(file).color || black">{{fileService.getSubjectOfFile(file).name}}</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="overview" *ngIf="currentCategory === categories[1]">

            <div class="scrollarea">
                <ul>
                    <div *ngFor="let subject of fileService.getSubjects()">
                        <li class="subject-title" [class.collapsed]="subject.collapsed === true" (click)="subject.collapsed = !subject.collapsed">
                            <div class="text">
                                <i class="ion-minus" *ngIf="subject.collapsed === false"></i>
                                <i class="ion-plus" *ngIf="subject.collapsed === true"></i> <span [style.color]="subject.color">{{subject.name}}</span>
                            </div>
                            <i class="ion-ios-trash delete-icon" (click)="deleteSubjectClicked(subject)"></i>
                        </li>
                        <div class="files">
                            <div class="file-title" *ngFor="let file of fileService.getFiles()" [hidden]="getNameOfSubjectID(file.subjectID) !== subject.name" (click)="fileService.setCurrentFile(file)">
                                <div class="text">
                                    <span *ngIf="file.name !== ''">{{file.name}}</span>
                                    <span class="empty-title" *ngIf="file.name === ''">Unbenanntes Dokument</span>
                                </div>
                                <i class="ion-ios-trash delete-icon" (click)="deleteFileClicked(file)"></i>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>

            <add-modal #modal (clickedOutside)="clickedOutside(modal)" [class.hidden]="!showModal" [class.visible]="showModal"></add-modal>

            <div class="add-button" (click)="clickShowModal(modal)">
                <i class="ion-plus-circled"></i>Hinzufügen
            </div>
        </div>

        <div class="settings" *ngIf="currentCategory === categories[0]">
            <ul>
                <li *ngFor="let subject of fileService.getSubjects()">
                    <input #titleInput type="text" placeholder="Unbenanntes Dokument" [(ngModel)]="subject.name" (blur)="onTitleChanged(subject, titleInput.value)">
                    <input #colorInput type="color" [(ngModel)]="subject.color" (change)="colorChange(subject, colorInput.value)">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="showDeleteModal"></div>

<delete-modal [objectName]="deleteModalObject.name" (onClick)="deleteModalClicked($event)" *ngIf="showDeleteModal"></delete-modal>