.wrapper
    background: #eee
    overflow: hidden

    .side-buttons
        width: 100vh
        height: 45px
        position: fixed
        transform-origin: left top
        transform: rotate(-90deg) translateX(-100%)

        ul
            display: table
            table-layout: fixed
            width: 100vh
            margin: 0
            padding: 0

            li
                display: table-cell
                width: auto
                height: 100%
                line-height: 45px
                text-align: center
                text-transform: uppercase
                cursor: pointer
                list-style: none
                transition: all 100ms ease-in

                &:hover
                    color: darkgrey
                    font-weight: 700

                &.active
                    color: orangered

    .container
        margin-left: 45px
        height: 100vh
        border-left: 3px solid white
        padding: 0 10px

        .title
            font-size: 1.2em
            font-weight: 700
            text-transform: uppercase
            letter-spacing: 2px
            padding: 10px 0
            box-sizing: border-box
            text-overflow: ellipsis

            &:after
                content: ''
                width: 100%
                border-top: 2px solid orangered
                display: inline-block

        .recent
            ul
                padding: 0
                margin: 0

                li
                    list-style: none
                    border-bottom: 1px solid orangered
                    padding: 0
                    margin: 0
                    cursor: pointer

                    &:first-child
                        border-top: 1px solid orangered

                    .file-info
                        width: 100%
                        font-size: 1.3em

                        .file-name
                            white-space: nowrap
                            text-overflow: ellipsis
                            overflow: hidden
                            display: inline-block
                            max-width: 70%

                        .file-subject
                            white-space: nowrap
                            text-overflow: ellipsis
                            overflow: hidden
                            float: right
                            display: inline-block
                            max-width: 30%
                            font-size: 0.7em
                            color: #333
                            margin-top: 5px

        .overview
            position: relative
            height: 92%

            .scrollarea
                overflow: auto
                height: 90%

            ul
                list-style: none
                padding: 0
                margin: 0

                .subject-title
                    text-transform: uppercase
                    letter-spacing: 1px
                    border-top: 1px solid #888
                    border-bottom: 1px solid #888
                    cursor: pointer
                    transition: all 100ms ease-in
                    margin-bottom: 12px

                    &.collapsed+.files
                        display: none

                    &:hover
                        border-top: 1px solid orangered
                        border-bottom: 1px solid orangered

                        &>.text
                            max-width: 83%

                        &>.delete-icon
                            opacity: 1

                    .text
                        white-space: nowrap
                        text-overflow: ellipsis
                        overflow: hidden
                        max-width: 95%
                        display: inline-block
                        transition: all 100ms ease


                    .delete-icon
                        float: right
                        opacity: 0
                        transition: all 100ms ease-in

                .files
                    .file-title
                        border-bottom: 1px solid lightgrey
                        padding-left: 12px
                        cursor: pointer

                        &:hover
                            border-bottom: 1px solid orangered                            

                            &>.text
                                max-width: 83%

                            &>.delete-icon 
                                opacity: 1

                        .text
                            display: inline-block
                            text-transform: none
                            max-width: 95%
                            text-overflow: ellipsis
                            overflow: hidden
                            white-space: nowrap
                            transition: all 100ms ease

                            .empty-title
                                font-style: italic
                                color: #222
                    
                        .delete-icon
                            float: right
                            opacity: 0
                            transition: all 100ms ease-in

            add-modal
                position: absolute
                bottom: -1000px

                &.hidden
                    animation: slide-down 200ms ease-in-out forwards

                    @keyframes slide-down
                        100%
                            bottom: -800px

                &.visible
                    animation: slide-up 200ms ease-in-out forwards

                    @keyframes slide-up
                        0%
                            bottom: -800px

                        100%
                            bottom: 50px

            .add-button
                text-transform: uppercase
                position: absolute
                bottom: 0
                font-size: 1.3em
                cursor: pointer
                width: 100%
                height: 40px
                border-top: 1px solid orangered

                &:hover
                    color: darkgrey
                    font-weight: 700

                i
                    margin-right: 12px

        .settings
            ul
                margin: 0
                padding: 0
                li
                    margin: 0
                    padding: 0
                    list-style: none
                    position: relative
                    border-bottom: 1px solid orangered
                    font-size: 1.2em
                    line-height: 2em

                    &:first-child
                        border-top: 1px solid orangered

                    input[type="text"]
                        background: none
                        border: none
                        cursor: pointer
                        font-size: 1.3em
                        display: inline-block
                        width: 80%
                        text-overflow: ellipsis
                        white-space: nowrap
                        overflow: hidden

                        &:focus
                            border: 1px solid orangered
                            outline: none
                            border-radius: 3px

                    input[type="color"]
                        background: none
                        border: none
                        cursor: pointer
                        position: absolute
                        right: 0px
                        top: 5%
                        height: 90%

.overlay
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: transparentize(black, 0.2)
    z-index: 5

delete-modal
    position: absolute
    left: calc(50vw - 200px)
    top: calc(50% - 200px)
    z-index: 6
                    

