<!--<div class="add-modal">
    <div class="checkbox-area">
        <input type="radio" id="category" name="group-1" [(ngModel)]="type" value="subject">
        <label for="category">Kategorie</label>

        <input type="radio" id="note" name="group-1" [(ngModel)]="type" value="note">
        <label for="note">Notiz</label>
    </div>

    <select name="categories" *ngIf="type === 'note'" [(ngModel)]="selectedSubject">
        <option [ngValue]="subject" *ngFor="let subject of fileService.getSubjects()">{{subject.name}}</option>
    </select>

    <input [(ngModel)]="nameInput" type="text" id="name" placeholder="Name" (keypress)="createNew($event)">
</div>

-->
<div class="container">
    <form #addForm="ngForm" (ngSubmit)="createNew(addForm, $event)">
        <div class="choose-buttons">
            <button type="button" [class.active]="subject" (click)="subject = true">Kategorie</button>
            <button type="button" [class.active]="!subject" (click)="subject = false">Notiz</button>
        </div>
        <div class="inputs">
            <div class="mdl-selectfield">
                <select name="subjectSelect" required [disabled]="subject" [(ngModel)]="selectedSubject">
                    <option disabled selected value="">Kategorie auswählen</option>
                    <option [ngValue]="subject" *ngFor="let subject of fileService.getSubjects()">{{subject.name}}</option>
                </select>
            </div>
            <input [(ngModel)]="nameInput" name="name" type="text" placeholder="Name" required>
        </div>

        <button class="submit-button " type="submit ">Hinzufügen</button>
    </form>
</div>